# SQLAlchemy in examples
This notebook was created to study in examples of use of SQLAlchemy.

Created by Cleiton Souza follow examples of "Essential SQLAlchemy" book

## Using SQLAlchemy CORE mode

## CONNECT

In [1]:
#Creating an engine for a SQLite database

from sqlalchemy import create_engine

#engine = create_engine('sqlite:///cookies.db')
engine = create_engine('sqlite:///:memory:')
#engine3 = create_engine('postgresql+psycopg2://username:password@localhost:5432/mydb')
#engine4 = create_engine('mysql+pymysql://cookiemonster:chocolatechip' \
        #'@mysql01.monster.internal/cookies', pool_recycle=3600)

In [2]:
connection = engine.connect()

## CREATE

In [3]:
from sqlalchemy import MetaData

metadata = MetaData()

In [4]:
from datetime import datetime
from sqlalchemy import (Table, Column, Integer, Numeric, String,
                        DateTime, ForeignKey, create_engine)

cookies = Table('cookies', metadata,
                Column('cookie_id', Integer(), primary_key=True),
                Column('cookie_name', String(50), index=True),
                Column('cookie_recipe_url', String(255)),
                Column('cookie_sku', String(55)),
                Column('quantity', Integer()),
                Column('unit_cost', Numeric(12, 2))
                )

users = Table('users', metadata,
              Column('user_id', Integer(), primary_key=True),
              Column('customer_number', Integer(), autoincrement=True),
              Column('username', String(15), nullable=False, unique=True),
              Column('email_address', String(255), nullable=False),
              Column('phone', String(20), nullable=False),
              Column('password', String(25), nullable=False),
              Column('created_on', DateTime(), default=datetime.now),
              Column('updated_on', DateTime(), default=datetime.now, onupdate=datetime.now)
              )

orders = Table('orders', metadata,
               Column('order_id', Integer(), primary_key=True),
               Column('user_id', ForeignKey('users.user_id'))
               )

line_items = Table('line_items', metadata,
                   Column('line_items_id', Integer(), primary_key=True),
                   Column('order_id', ForeignKey('orders.order_id')),
                   Column('cookie_id', ForeignKey('cookies.cookie_id')),
                   Column('quantity', Integer()),
                   Column('extended_cost', Numeric(12, 2))
                   )

In [5]:
metadata.create_all(engine)

## INSERT

In [6]:
# Single insert as a method

ins = cookies.insert().values(
	cookie_name="chocolate chip", 
	cookie_recipe_url="http://some.aweso.me/cookie/recipe.html", 
	cookie_sku="CC01",
	quantity="12",
	unit_cost="0.50"
) 

print(str(ins))

# print(str(ins)) shows us the actual SQL statement that will be executed:

INSERT INTO cookies (cookie_name, cookie_recipe_url, cookie_sku, quantity, unit_cost) VALUES (:cookie_name, :cookie_recipe_url, :cookie_sku, :quantity, :unit_cost)

In [7]:
# Executing the insert statement

result = connection.execute(ins)

In [8]:
# We can also get the ID of the record we just inserted by accessing the inserted_primary_key attribute: 

result.inserted_primary_key

[1]

In [9]:
#  Multiple inserts

ins = cookies.insert()

inventory_list = [
	{
    'cookie_name': 'peanut butter',
    'cookie_recipe_url': 'http://some.aweso.me/cookie/peanut.html',
    'cookie_sku': 'PB01',
    'quantity': '24',
    'unit_cost': '0.25'
    }, 
	{
    'cookie_name': 'oatmeal raisin',
    'cookie_recipe_url': 'http://some.okay.me/cookie/raisin.html', 
    'cookie_sku': 'EWW01',
    'quantity': '100',
    'unit_cost': '1.00'
    }
]

result = connection.execute(ins, inventory_list)

## QUERY

In [10]:
# Simple select function

from sqlalchemy.sql import select 

s = select([cookies])

rp = connection.execute(s) 

results = rp.fetchall()

/Users/cleiton/Documents/cursos/sqlalchemy-study/.venv/lib/python3.8/site-packages/sqlalchemy/sql/sqltypes.py:660: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  util.warn(

In [11]:
results[0]

(1, 'chocolate chip', 'http://some.aweso.me/cookie/recipe.html', 'CC01', 12, Decimal('0.50'))

In [12]:
# Select only cookie_name and quantity

s = select([cookies.c.cookie_name, cookies.c.quantity]) 

rp = connection.execute(s)

print(rp.keys())

result = rp.first()

['cookie_name', 'quantity']

In [13]:
rp = connection.execute(s)
rp.fetchall()

[('chocolate chip', 12), ('peanut butter', 24), ('oatmeal raisin', 100)]

### Ordering

In [14]:
# Order by quantity ascending

s = select([cookies.c.cookie_name, cookies.c.quantity])

s = s.order_by(cookies.c.quantity)

rp = connection.execute(s)

for cookie in rp:
    print('{} - {}'.format(cookie.quantity, cookie.cookie_name))

12 - chocolate chip
24 - peanut butter
100 - oatmeal raisin

## Built-In SQL Functions and Labels

In [15]:
# Summing our cookies
from sqlalchemy.sql import func

s = select([func.sum(cookies.c.quantity)]) 

rp = connection.execute(s) 

print(rp.scalar())

136

In [16]:
# Counting our inventory records
from sqlalchemy.sql import func

s = select([func.count(cookies.c.cookie_name)]) 

rp = connection.execute(s)

record = rp.first()

print(record.keys())

print(record.count_1)

['count_1']
3

In [17]:
# Renaming our count column
from sqlalchemy.sql import func

s = select([func.count(cookies.c.cookie_name).label('inventory_count')])
rp = connection.execute(s)
record = rp.first()
print(record.keys())
print(record.inventory_count)

['inventory_count']
3

In [18]:
# Using a ClauseElement between
from sqlalchemy.sql import func

s = select([cookies]).where(cookies.c.unit_cost.between(0.5, 2))
for row in connection.execute(s):
    print(row.cookie_name)

chocolate chip
oatmeal raisin

### Conjunctions ( and, or, not )

In [19]:
# code
# Using the and() conjunction
# So if we wanted to get a list of cookies with a cost of less than an amount
# and above a certain quantity we could use the code shown bellow
from sqlalchemy import and_, or_, not_
s = select([cookies]).where(
    and_(cookies.c.quantity > 23, cookies.c.unit_cost < 0.40) )
for row in connection.execute(s):
    print(row.cookie_name)

peanut butter

### Limiting

In [20]:
# Two smallest cookie inventories
s = select([cookies.c.cookie_name, cookies.c.quantity]) 
s = s.order_by(cookies.c.quantity)
s = s.limit(2)
rp = connection.execute(s)
print([result.cookie_name for result in rp])

['chocolate chip', 'peanut butter']

## UPDATE

In [21]:
# code
# Updating data
from sqlalchemy import update
u = update(cookies).where(cookies.c.cookie_name == "chocolate chip")
u = u.values(quantity=(cookies.c.quantity + 120))
result = connection.execute(u)
print(result.rowcount)

1

In [22]:
s = select([cookies]).where(cookies.c.cookie_name == "chocolate chip")
result = connection.execute(s).first()
for key in result.keys():
    print('{:>20}: {}'.format(key, result[key]))

           cookie_id: 1
         cookie_name: chocolate chip
   cookie_recipe_url: http://some.aweso.me/cookie/recipe.html
          cookie_sku: CC01
            quantity: 132
           unit_cost: 0.50

## DELETE

In [23]:
# code
# Deleting data
from sqlalchemy import delete
u = delete(cookies).where(cookies.c.cookie_name == "chocolate chip")
result = connection.execute(u)
print(result.rowcount)

1

In [24]:
s = select([cookies]).where(cookies.c.cookie_name == "dark chocolate chip")
result = connection.execute(s).fetchall()
print(len(result))

0

In [25]:
# code
# Play with insert
print('============================')
customer_list = [ {
    'username': 'cookiemon',
    'email_address': 'mon@cookie.com', ''
    'phone': '111-111-1111',
    'password': 'password'
}, {
    'username': 'cakeeater',
    'email_address': 'cakeeater@cake.com',
    'phone': '222-222-2222',
    'password': 'password'
}, {
    'username': 'pieguy',
    'email_address': 'guy@pie.com',
    'phone': '333-333-3333',
    'password': 'password'
} ]

ins = users.insert()
result = connection.execute(ins, customer_list)

============================

In [26]:

from sqlalchemy import insert
print('============================')
ins = insert(orders).values(user_id=1, order_id=1)
result = connection.execute(ins)
ins = insert(line_items)
order_items = [
{
    'order_id': 1,
    'cookie_id': 1,
    'quantity': 2,
    'extended_cost': 1.00
}, {
    'order_id': 1,
    'cookie_id': 3,
    'quantity': 12,
    'extended_cost': 3.00,
} ]
result = connection.execute(ins, order_items)

ins = insert(orders).values(user_id=2, order_id=2)
result = connection.execute(ins)
ins = insert(line_items)
order_items = [
{
    'order_id': 2,
    'cookie_id': 1,
    'quantity': 24,
    'extended_cost': 12.00
}, {
    'order_id': 2,
    'cookie_id': 4,
    'quantity': 6,
    'extended_cost': 6.00
} ]
result = connection.execute(ins, order_items)

============================

## JOINS

In [27]:
###
# code
# Using join to select from multiple tables
columns = [orders.c.order_id, users.c.username, users.c.phone, cookies.c.cookie_name,
           line_items.c.quantity, line_items.c.extended_cost]
cookiemon_orders = select(columns)

cookiemon_orders = cookiemon_orders.select_from(orders.join(users).join(
    line_items).join(cookies)).where(users.c.username == 'cookiemon')

result = connection.execute(cookiemon_orders).fetchall()

for row in result:
    print(row)

(1, 'cookiemon', '111-111-1111', 'oatmeal raisin', 12, Decimal('3.00'))

In [28]:
cookiemon_orders

In [29]:
###
# code
#Using outerjoin to select from multiple tables

from sqlalchemy import func

columns = [users.c.username, func.count(orders.c.order_id)]
all_orders = select(columns)
all_orders = all_orders.select_from(users.outerjoin(orders))
all_orders = all_orders.group_by(users.c.username)
result = connection.execute(all_orders).fetchall()
for row in result:
    print(row)

('cakeeater', 1)
('cookiemon', 1)
('pieguy', 0)