# SQLAlchemy in examples
This notebook was created to study in examples of use of SQLAlchemy.

Created by Cleiton Souza follow examples of "Essential SQLAlchemy" book

## Using SQLAlchemy CORE mode

## CONNECT

In [1]:
#Creating an engine for a SQLite database

from sqlalchemy import create_engine

engine = create_engine('sqlite:///cookies.db')
#engine2 = create_engine('sqlite:///:memory:')
#engine3 = create_engine('postgresql+psycopg2://username:password@localhost:5432/mydb')
#engine4 = create_engine('mysql+pymysql://cookiemonster:chocolatechip' \
        #'@mysql01.monster.internal/cookies', pool_recycle=3600)

In [2]:
connection = engine.connect()

## CREATE

In [3]:
from sqlalchemy import MetaData

metadata = MetaData()

In [4]:
from datetime import datetime
from sqlalchemy import (Table, Column, Integer, Numeric, String,
                        DateTime, ForeignKey, create_engine)

cookies = Table('cookies', metadata,
                Column('cookie_id', Integer(), primary_key=True),
                Column('cookie_name', String(50), index=True),
                Column('cookie_recipe_url', String(255)),
                Column('cookie_sku', String(55)),
                Column('quantity', Integer()),
                Column('unit_cost', Numeric(12, 2))
                )

users = Table('users', metadata,
              Column('user_id', Integer(), primary_key=True),
              Column('customer_number', Integer(), autoincrement=True),
              Column('username', String(15), nullable=False, unique=True),
              Column('email_address', String(255), nullable=False),
              Column('phone', String(20), nullable=False),
              Column('password', String(25), nullable=False),
              Column('created_on', DateTime(), default=datetime.now),
              Column('updated_on', DateTime(), default=datetime.now, onupdate=datetime.now)
              )

orders = Table('orders', metadata,
               Column('order_id', Integer(), primary_key=True),
               Column('user_id', ForeignKey('users.user_id'))
               )

line_items = Table('line_items', metadata,
                   Column('line_items_id', Integer(), primary_key=True),
                   Column('order_id', ForeignKey('orders.order_id')),
                   Column('cookie_id', ForeignKey('cookies.cookie_id')),
                   Column('quantity', Integer()),
                   Column('extended_cost', Numeric(12, 2))
                   )

In [5]:
metadata.create_all(engine)

## INSERT

In [6]:
# Single insert as a method

ins = cookies.insert().values(
	cookie_name="chocolate chip", 
	cookie_recipe_url="http://some.aweso.me/cookie/recipe.html", 
	cookie_sku="CC01",
	quantity="12",
	unit_cost="0.50"
) 

print(str(ins))

# print(str(ins)) shows us the actual SQL statement that will be executed:

INSERT INTO cookies (cookie_name, cookie_recipe_url, cookie_sku, quantity, unit_cost) VALUES (:cookie_name, :cookie_recipe_url, :cookie_sku, :quantity, :unit_cost)

In [7]:
# Executing the insert statement

result = connection.execute(ins)

In [8]:
# We can also get the ID of the record we just inserted by accessing the inserted_primary_key attribute: 

result.inserted_primary_key

[1]

In [9]:
#  Multiple inserts

ins = cookies.insert()

inventory_list = [
	{
    'cookie_name': 'peanut butter',
    'cookie_recipe_url': 'http://some.aweso.me/cookie/peanut.html',
    'cookie_sku': 'PB01',
    'quantity': '24',
    'unit_cost': '0.25'
    }, 
	{
    'cookie_name': 'oatmeal raisin',
    'cookie_recipe_url': 'http://some.okay.me/cookie/raisin.html', 
    'cookie_sku': 'EWW01',
    'quantity': '100',
    'unit_cost': '1.00'
    }
]

result = connection.execute(ins, inventory_list)

## QUERY

In [10]:
# Simple select function

from sqlalchemy.sql import select 

s = select([cookies])

rp = connection.execute(s) 

results = rp.fetchall()

/Users/cleiton/Documents/cursos/sqlalchemy-study/.venv/lib/python3.8/site-packages/sqlalchemy/sql/sqltypes.py:660: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  util.warn(

In [11]:
results[0]

(1, 'chocolate chip', 'http://some.aweso.me/cookie/recipe.html', 'CC01', 12, Decimal('0.50'))

In [12]:
# Select only cookie_name and quantity

s = select([cookies.c.cookie_name, cookies.c.quantity]) 

rp = connection.execute(s)

print(rp.keys())

result = rp.first()

['cookie_name', 'quantity']

In [13]:
rp = connection.execute(s)
rp.fetchall()

[('chocolate chip', 12), ('peanut butter', 24), ('oatmeal raisin', 100)]

In [14]:
# Order by quantity ascending

s = select([cookies.c.cookie_name, cookies.c.quantity])

s = s.order_by(cookies.c.quantity)

rp = connection.execute(s)

for cookie in rp:
    print('{} - {}'.format(cookie.quantity, cookie.cookie_name))

12 - chocolate chip
24 - peanut butter
100 - oatmeal raisin

In [15]:
# to be continue...